*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
}
button{
    width: 200px;
    height: 50px;
    background-image: url(https://cdn.pixabay.com/photo/2016/11/29/04/19/ocean-1867285_960_720.jpg);
    cursor: pointer;
}